openai
flask
line-bot-sdk
webuiapi
pyimgur
rich
opencc-python-reimplemented
langchain_huggingface
langchain_community
chromadb
langchain-chroma
requests>=2.32.2
pypdf
pymupdf
docx2txt
python-multipart
fastapi-cdn-host
openpyxl
hf_xet